<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites><testsuite name="all"><directory>tests/Unit</directory><directory>tests/Feature</directory></testsuite></testsuites>
  <source><include><directory>src</directory></include></source>
</phpunit>
